/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
.headder{
    width: 100%;
    height: 72px;
    background-color: #37495e;
}
.wrapper{
    height: auto;
    width: 1000px;
    margin: 0 auto;
}
.list{
    float: right;
    text-transform: none;
    display: inline;
    margin-top: 31px;
}
.list li{
    display: inline;
    width: 70%;
    padding: 15px;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    color: #ffffff;
}
.logo{
    margin-top: 22px;
}  
A{
    position: relative;
    text-decoration: none;
}
A:visited {
    color: #ffffff;
} 
A:hover{
    color: #c0bfc4;
    text-decoration: none;
}
.fon{
    height: 640px; 
    background: url("images/H.png") center no-repeat;
	margin: 0 auto;
    position: relative;
    width: 100%;
}
.sidebar{
    text-align: center;
    display: block;
    width: 315px;
    height: 54px;
    margin-top: 160px;
    float: right;
    background-color: #ffffff;
}
.txt{
    width: 252px;
    display: block;
    padding: 10px 0px 10px 0px;
    margin: auto;
    color: #333333;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 700;
    position: relative;
}
.free{
    font-size: 22px;
    color: #ff8b38;
    display: inline;
}
.gg{
    padding: 0;
}
.sps{
    width: 315px;
    height: 314px;
    background-color: #ffffff;
    margin-left: 685px;
    float: left;
}
.registr{
    height: 255px;
	width: 300px;
	display: block;
	background: #ffffff;
	margin-bottom: 20px;
}
.name {
	width: 275px;
    position: relative;
    display: block;
    margin:  auto;
    padding: 10px 5px 5px 0px;
}
.nname {
	width: 275px;
	height: 31px;
	border: 0px;
}
.email {    
	width: 275px;
    position: relative;
    display: block;
    margin: 0 auto;
    padding: 30px 0px 5px 0px;
}
.eemail {
	width: 275px;
	height: 31px;
	border: 0px;
}
.password {   
	width: 275px;
    position: relative;
    display: block;
    margin: 0 auto;
    padding: 30px 0px 15px 0px;
}
.ppassword {
	width: 275px;
	height: 31px;
	border: 0px;
}
.buton{
    vertical-align: middle;
    background-color: #ff8b38;
    color: #ffffff;
}
.buton-btn{
    background-color: #ff8b38;
	vertical-align: middle;
    padding: 5px 100px 25px 209px;
    border: 3px solid #ff8b38;
    color: #ffffff;
    font-family: "Open Sans"
}
.txt-btn{
    padding: 0px 0px 0px 22px;
    font-family: "Open Sans";
    text-transform: uppercase;
    text-decoration: none;
    margin: 0 auto;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
}
.txt-btn:hover{
    color: #c0bfc4;
    text-decoration: none;
}
.big-txt{
    font-size: 36px;
    float: left;
    margin-top: -430px;
}
.left-txt{
    padding: 38px 0px 10px 0px;
    font-family: "Raleway";
    color: #ffffff;
    font-weight: 400;
    text-transform: uppercase;
}
.line{
    margin-top: 36px;
    width: 74px;
    height: 16px;
    border: none; 
    background-color: #ffffff; 
    color:#ffffff; 
    height:  2px;
}
.dawn-txt{
    width: 161px;
    height: 61px;
}
.dawn{
    padding: 50px 0px 0px 0px;
    width: 461px;
    height: 61px;
    color: #ffffff;
    font-family:"Raleway";
    font-size: 16px;
    line-height: 23px;
}
.btttn{
    padding: 200px 0px 10px 0px;
    width: 13px;
    height: 40px;
}
.bttn{
    margin-top: -200px;
    padding: 13px 40px 12px 40px;
    text-align: center;
    display: inline-block;
    color: white;
    font-family: "Open sans";
    font-weight: 400;
    text-decoration: none;
    user-select: none;
    outline: none;
     border: 2px solid;
    border-radius: 1px;
}
.bttn:hover{
    border: 2px solid #ff8b38;
    background-color: #ff8b38;
    color:#ffffff;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear; 
}
.head-1{
    font-weight: 900;
    font-family:"Open sans";
    font-size: 20px;
    width: 100%;
    height: 105px;
    margin-top: 405px;
   background-color: #f5f5f5;
}
.down-txt{
    margin-top: 15px;
    color: #333333;
    padding: 12px 0px 0px 0px;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}
.icon{
    margin-top: 30px;
    float: right;
}
.head-fon{
    width: 1000px;
    height: 595px; 
    background: #ffffff center no-repeat;
	margin: 0 auto;
	position: relative;
}
.tab-1{
    margin-top: 250px;
    text-align: center;
    float: left;
}
.tab-tab{
    background-color: #37495e;
    padding:50px 35px 51px 37px;
    text-align: center;
    color: white;
    font-family: "Open sans";
    font-weight: 700;
    text-decoration: none;
    user-select: none;
    outline: none;
}
.tab-tab:hover{
    background-color: #ff8b38;
    color:#ffffff;
}
.tab-tab-2{ 
    background-color: #37495e;
    padding:50px 35px 51px 37px;
    text-align: center;
    color: #ffffff;
    font-family: "Open sans";
    font-weight: 700;
    text-decoration: none;
    user-select: none;
    outline: none;
}
.tab-2{
    margin-top: 106px;
}
.tab-tab-2:hover{
    background-color: #ff8b38;
    color:#ffffff;
}
.tab-tab-3{
    background-color: #37495e;
    padding:50px 35px 51px 37px;
    text-align: center;
    color: #ffffff;
    font-family: "Open sans";
    font-weight: 700;
    text-decoration: none;
    user-select: none;
    outline: none;
}
.tab-3{
    margin-top: 106px;
}
.tab-tab-3:hover{
    background-color: #ff8b38;
    color:#ffffff;
}
.txt-2{
    margin-left: -50px;
    width: 304px;
    height: 61px;
  padding: 200px 0px 0px 301px;  
}
.txt-2-txt{
    color: #000000;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 900;
}
.txt_txt_2{
    padding: 52px 0px 0px 0px;
    width: 476px;
    height: 132px;
}
.txt_2{
    color: #86878b;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}
.txt_2_2{
     padding:32px 0px 0px 0px ;
    color: #86878b;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}
.txt-btn_2{
    padding: 61px 0px 0px 0px;
}
.btn{
    background-color: #ff8b38;
    padding: 13px 40px 12px 40px;
    text-align: center;
    color: #ffffff;
    font-family: "Open sans";
    font-weight: 400;
    text-decoration: none;
    user-select: none;
    outline: none;
}
.img_levo{ 
    width: 320px;
    height: 253px;
    float: right;
}
.levo{
    padding: 0px 0px 0px 50px;
    margin-left: 10px;
}
.head-2{
    width: 1000px;
    height: 596px; 
    background: #f5f5f5 center no-repeat;
	margin: 0 auto;
	position: relative;
}
.text_2{
    margin-left: 640px;
    margin-top: 245px;
    color: #212121;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 900;
    line-height: 43px;
}
.line-2{
    margin-top: 29px;
    margin-left: 640px;
    width: 64px;
    height: 2px;
    border: none; 
    background-color: #ff8b38; 
    color: #ff8b38; 
    height:  2px;
}
.text-2-2{
    margin-top: 30px;
    margin-left: 640px;
    color: #86878b;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}
.title{
    margin-top: 46px;
    margin-left: 720px;
    color: #212121;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 900;
    line-height: 17px;
}
.ttext-2-2{
    margin-top: -20px;
    margin-left: 720px;
    color: #86878b;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}
.title-2{
    margin-top: 42px;
    margin-left: 720px;
    color: #212121;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 900;
    line-height: 17px;
}
.ttext-2-2-2{
    margin-top: -20px;
    margin-left: 720px;
    color: #86878b;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}
.icon_2{
    margin-top: -11px;
    margin-left: 640px;
}
.img_right{
    width: 453px;
    height: 303px;
    float: left;
}
.right{
    margin-top: -410px;
}
.head-3{
    width: 1000px;
    height: 524px; 
    background: #ffffff  no-repeat;
	margin: 0 auto;
	position: relative;
}
.text_3{
    margin-top: 217px;
    margin-right: 600px;
    color: #212121;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 900;
}
.line-3{
    margin-top: 29px;
    width: 64px;
    height: 2px;
    border: none; 
    background-color: #ff8b38; 
    color: #ff8b38; 
    height:  2px;
}
.txt_3{
    margin-top: 35px;
    width: 473px;
    height: 132px;
    color: #86878b;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}
.company{
    float: right;
    margin-left: 40px;
    margin-top: -430px;
}
.txt_3_3{
    margin-top: -15px;
    width: 473px;
    height: 132px;
    color: #86878b;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
}
.head-4{
    width: 1000px;
    height: 592px;
    background-color: #ffffff;
}
.text_4{
    margin-left: 310px ;
    display: inline-block;
    margin-top: 108px;
    color: #212121;
    font-family: "Raleway";
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
}
.line-4{
    margin-left: 465px;
    margin-top: 30px;
    width: 64px;
    height: 2px;
    border: none; 
    background-color: #ff8b38; 
    color: #ff8b38; 
    height:  2px;
}
.text-4{
    margin-top: 30px;
    margin-left: 325px;
    color: #86878b;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}
.icons{
    display: inline-block;
    margin-top: 80px;
    margin-left: 80px;
}
.icons-2{
    display: inline-block;
    margin-left: 305px;
}
.icons-3{
    display: inline-block;
    margin-left: 290px;
}
.text-4_4{
    display: inline-block;
    margin-top: -29px;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 900;
    line-height: 24px;
    margin-left: -520px;
}
.ttext-4_4{
    margin-left: -25px;
    margin-top: 30px;
    width: 350px;
    height: 52px;
    color: #86878b;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}
.tt-4{
    margin-left: -40px;
    margin-top: -30px;
    width: 350px;
    height: 52px;
    color: #86878b;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 20px; 
}
.ttt-4{
    margin-left: -10px;
    margin-top: -30px;
    width: 350px;
    height: 52px;
    color: #86878b;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}
.text-4_2{
    width: 116px;
    display: inline-block;
    margin-top: -29px;
    margin-left: -520px;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 900;
}
.text-4_2_2{
    height: 20px;
    width: 170px;
    margin-top: 29px;
    display: inline-block;
    margin-left: 780px;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 900;
}
.ttext-4_4_2{
    margin-left: 340px ;
    margin-top: -96px;
    width: 350px;
    height: 52px;
    color: #86878b;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}
.tt-4_2{
    margin-top: -30px;
    margin-left: 330px;
    width: 350px;
    height: 52px;
    color: #86878b;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 20px; 
}
.ttt-4_2{
    margin-left: 370px;
    margin-top: -30px;
    width: 350px;
    height: 52px;
    color: #86878b;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}
.ttext-4_4_3{
    margin-left: 710px ;
    margin-top: -96px;
    width: 350px;
    height: 52px;
    color: #86878b;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}
.tt-4_3{
    margin-top: -30px;
    margin-left: 700px;
    width: 350px;
    height: 52px;
    color: #86878b;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 20px; 
}
.ttt-4_3{
    margin-left: 740px;
    margin-top: -30px;
    width: 350px;
    height: 52px;
    color: #86878b;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}
.head-5{
    background-color: #f5f5f5;
    width: 1000px;
    height: 883px;
}
.text_5{
    margin-left: 340px ;
    display: inline-block;
    margin-top: 148px;
    color: #212121;
    font-family: "Raleway";
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
}
.linia{
    margin-left: 450px;
    margin-top: 30px;
    width: 64px;
    height: 2px;
    border: none; 
    background-color: #ff8b38; 
    color: #ff8b38; 
    height:  2px;
}
.text-5_down{
    margin-top: 30px;
    margin-left: 315px;
    width: 359px;
    height: 14px;
    color: #86878b;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}
.div-1{
    margin-top: 80px;
    margin-left: 320px;
    text-align: center;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 700;
    border: 1px solid #f5f5f5;
    width: 343px;
    height: 59px;
    background: #37495e;
}
.txt-5{
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    padding: 17px 0px 0px 0px;
}
.div-1_down{
    margin-left: 320px;
    border: 1px solid #f5f5f5;
    max-width: 343px;
    height: 100px;
    background: #37495e;
}
.txt-5_down{
color: #ffffff;
font-family: "Raleway";
font-size: 94px;
font-weight: 900;
line-height: 24px;
text-align: center;
padding: 40px 0px 0px 20px
}
.dollars{
    color: #ffffff;
    font-family: "Raleway";
    font-size: 94px;
    font-weight: 700;
    line-height: 24px;
    font-size: 35px;
    padding: 0px 0px 0px 110px;
}
.down_2{
    margin-left: 320px;
    border: 1px solid #f5f5f5;
    max-width: 343px;
    height: 51px;
    background: #37495e;
}
.down_txt2{
    margin-top: 13px;
    margin-left: 120px;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}
.down-box{
    margin-left: 320px;
    border: 1px solid #f5f5f5;
    width: 343px;
    height: 40px;
    background: #ff8b38;
    padding: 10px 0px 0px 0px;
    text-align: center;
}
.box_txt{
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
    padding: 5px 0px 0px 0px;
}
.div-2{
    margin-top: -219px;
    margin-left: -50px;
    text-align: center;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 700;
    border: 1px solid #f5f5f5;
    width: 343px;
    height: 59px;
    background: #37495e;
}
.box_2{
    margin-left: -50px;
    border: 1px solid #f5f5f5;
    width: 343px;
    height: 100px;
    background: #37495e;
}
.dollars_2{
    color: #ffffff;
    font-family: "Raleway";
    font-size: 94px;
    font-weight: 700;
    line-height: 24px;
    font-size: 35px;
    padding: 0px 0px 0px 125px;
}
.down_2_2{
    margin-left: -50px;
    border: 1px solid #f5f5f5;
    max-width: 343px;
    height: 51px;
    background: #37495e;
}
.foot_box{
    margin-top: -2px;
    margin-left: -50px;
    display: block;
    width: 344px;
    height: 6px;
    background: #ff8b38;
}
.div_3{
    margin-top: -223px;
    margin-left: 690px;
    text-align: center;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 700;
    border: 1px solid #f5f5f5;
    width: 343px;
    height: 59px;
    background: #37495e;
}
.txt-5_2{
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    padding: 17px 0px 0px 0px;
}
.box_3{
    margin-left: 690px;
    border: 1px solid #f5f5f5;
    width: 343px;
    height: 100px;
    background: #37495e;
}
.foot_box_2{
    margin-top: -2px;
    margin-left: 691px;
    display: block;
    width: 343px;
    height: 6px;
    background: #ff8b38;
}
.down_2_3{
    margin-left: 690px;
    border: 1px solid #f5f5f5;
    width: 343px;
    height: 51px;
    background: #37495e;
}
.space{
    margin-top: 5px;
    margin-left: -50px;
    text-align: center;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 700;
    border: 1px solid #f5f5f5;
    width: 343px;
    height: 40px;
    background: #ffffff;
}
.space_txt{
    margin-top: 18px;
    color: #86878b;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
}
.space_2{
    margin-left: -50px;
    text-align: center;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 700;
    border: 1px solid #f5f5f5;
    width: 343px;
    height: 40px;
    background: #ffffff;
}
.space_3{
    margin-left: -50px;
    text-align: center;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 700;
    border: 1px solid #f5f5f5;
    width: 343px;
    height: 40px;
    background: #ffffff;
}
.space_4{
    margin-left: -50px;
    text-align: center;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 700;
    border: 1px solid #f5f5f5;
    width: 343px;
    height: 40px;
    background: #ffffff;
}
.space_5{
    margin-left: -50px;
    text-align: center;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 700;
    border: 1px solid #f5f5f5;
    width: 343px;
    height: 40px;
    background: #ffffff;
}
.space_6{
    margin-left: -50px;
    text-align: center;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 700;
    border: 1px solid #f5f5f5;
    width: 343px;
    height: 40px;
    background: #ffffff;
}
.space2{
    margin-top: -250px;
    margin-left: 320px;
    text-align: center;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 700;
    border: 1px solid #f5f5f5;
    width: 343px;
    height: 40px;
    background: #ffffff;
}
.space2_2{
    margin-left: 320px;
    text-align: center;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 700;
    border: 1px solid #f5f5f5;
    width: 343px;
    height: 40px;
    background: #ffffff;
}
.space2_3{
    margin-left: 320px;
    text-align: center;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 700;
    border: 1px solid #f5f5f5;
    width: 343px;
    height: 40px;
    background: #ffffff;
}
.space2_4{
    margin-left: 320px;
    text-align: center;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 700;
    border: 1px solid #f5f5f5;
    width: 343px;
    height: 40px;
    background: #ffffff;
}
.space2_5{
    margin-left: 320px;
    text-align: center;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 700;
    border: 1px solid #f5f5f5;
    width: 343px;
    height: 40px;
    background: #ffffff;
}
.space2_6{
    margin-left: 320px;
    text-align: center;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 700;
    border: 1px solid #f5f5f5;
    width: 343px;
    height: 40px;
    background: #ffffff;
}
.space_txt2{
    margin-top: 17px;
    color: #86878b;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
}
.space3{
    margin-top: -250px;
    margin-left: 690px;
    text-align: center;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 700;
    border: 1px solid #f5f5f5;
    width: 343px;
    height: 40px;
    background: #ffffff;
}
.space_txt3{
    margin-top: 14px;
    color: #86878b;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
}
.space3_2{
    margin-left: 690px;
    text-align: center;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 700;
    border: 1px solid #f5f5f5;
    width: 343px;
    height: 40px;
    background: #ffffff;
}
.space3_3{
    margin-left: 690px;
    text-align: center;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 700;
    border: 1px solid #f5f5f5;
    width: 343px;
    height: 40px;
    background: #ffffff;
}
.space3_4{
    margin-left: 690px;
    text-align: center;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 700;
    border: 1px solid #f5f5f5;
    width: 343px;
    height: 40px;
    background: #ffffff;
}
.space3_5{
    margin-left: 690px;
    text-align: center;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 700;
    border: 1px solid #f5f5f5;
    width: 343px;
    height: 40px;
    background: #ffffff;
}
.space3_6{
    margin-left: 690px;
    text-align: center;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 700;
    border: 1px solid #f5f5f5;
    width: 343px;
    height: 40px;
    background: #ffffff;
}
.head-6{
    width: 1000px;
    height: 591px;
    background-color: #ffffff;
}
.txt_6{
    margin-left: 190px ;
    display: inline-block;
    margin-top: 108px;
    color: #212121;
    font-family: "Raleway";
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
}
.line_5{
    margin-left: 465px;
    margin-top: 30px;
    width: 64px;
    height: 2px;
    border: none; 
    background-color: #ff8b38; 
    color: #ff8b38; 
    height:  2px;
}
.txt-6_2{
    margin-top: 30px;
    margin-left: 335px;
    width: 359px;
    height: 14px;
    color: #86878b;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}
.qote{
    margin-left: 20px;
    margin-top: 89px;
    width: 273px;
    height: 135px;
    display: inline-block;
    background: #f5f5f5;
}
.qote_txt{
    width: 248px;
    height: 82px;
    color: #86878b;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    padding: 30px 0px 0px 0px;
    margin: auto;
}
.qote2{
    margin-left: 105px;
    margin-top: 89px;
    max-width: 273px;
    height: 135px;
    display: inline-block;
    background: #f5f5f5;
}
.qote3{
    margin-top: -135px;
    margin-left: 740px;
    max-width: 273px;
    height: 135px;
    background: #f5f5f5;
}
.name_m{
    margin-left: 120px;
    margin-top: 38px;
}
.manager{
    color: #333333;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 900;
}
.manager_txt{
    margin-top: 8px;
    color: #86878b;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
}
.ava{
    padding: 30px 0px 0px 0px;
    margin-left: -120px;
}
.avatar{
    display: inline-block;
    margin-top: -86px;
    margin-left: 30px;
    width: 72px;
    height: 72px;
}
.Manager2{
    margin-top: -98px;
    margin-left: 370px;
}
.Manager3{
    margin-top: -96px;
    margin-left: 710px;
}
.panel{
    margin-left: -189px;
    height: 320px;
    width: 1360px;
    background: url("images/Panel.png");
}
.head-txt{
    margin-left: 490px ;
    display: inline-block;
    margin-top: 74px;
    color: #ffffff;
    font-family: "Raleway";
    font-size: 36px;
    font-weight: 400;
    text-transform: uppercase;
}
.head-line{
    margin-left: 665px;
    margin-top: 26px;
    width: 64px;
    height: 2px;
    border: none; 
    background-color: #ffffff; 
    color: #ffffff; 
    height:  2px;
}
.head-txt-down{
    margin-top: 23px;
    margin-left: 350px;
    color: #ffffff;
    font-family: "Raleway";
    font-size: 16px;
    font-weight: 100;
}
.button2{
    margin-left: 610px;
    margin-top: 33px;
    padding: 13px 40px 12px 40px;
    text-align: center;
    display: inline-block;
    color: white;
    font-family: "Open sans";
    font-weight: 400;
    text-decoration: none;
    user-select: none;
    outline: none;
     border: 2px solid;
    border-radius: 1px; 
}
.button2:hover{
    border: 2px solid #ff8b38;
    background-color: #ff8b38;
    color:#ffffff;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear; 
}
.head-7{
    width: 1000px;
    height: 612px;
}
.head-txt2{
    margin-top: 108px;
    margin-left: 390px;
    color: #212121;
    font-family: "Raleway";
    font-size: 36px;
    font-weight: 700;
    line-height: 43px;
    text-transform: uppercase;
}
.head-line2{
    margin-left: 475px;
    margin-top: 30px;
    width: 64px;
    height: 2px;
    border: none; 
    background-color: #ff8b38; 
    color: #ff8b38; 
    height:  2px;
}
.head-down-txt{
    margin-top: 30px;
    margin-left: 320px;
    color: #86878b;
    font-family: "Raleway";
    font-size: 16px;
    font-weight: 100;
}
.contact-name {
    margin-top: 91px;
}
.name-con{
    width: 427px;
    height: 38px;
    border: none;
    color: #bdbdbd;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
}
.contact-email{
    margin-top: 30px;
}
.email-con{
    margin-top: 39px;
    width: 427px;
    height: 38px;
    border: none;
    color: #bdbdbd;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
}
.contact-subject{
    margin-top: 30px;
}
.subject-con{
    margin-top: 39px;
    width: 427px;
    height: 38px;
    border: none;
    color: #bdbdbd;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
}
.contact-message{
    margin-left: 580px;
    margin-top: -245px;
}
.con-message{
    color: #bdbdbd;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
}
.comment{
    margin-top: 187px;
    margin-left: 580px;
}
.con-comment{
    width: 427px;
    height: 31px;
    box-shadow: 0 1px 0 rgba(0, 0, 1, 0.16);
}
.btn-send{
    margin-top: 43px;
    margin-left: 410px;
}
.send{
    background-color: #ff8b38;
    padding: 13px 40px 12px 40px;
    text-align: center;
    color: #ffffff;
    font-family: "Open sans";
    font-weight: 400;
    text-decoration: none;
    user-select: none;
    outline: none;
}
.footer{
    margin-left: -189px;
    width: 1360px;
    height: 100px;
    background-color: #37495e;
}
.foot-icon{
    margin-top: 21px;
    margin-left: 520px;
    width: 317px;
    height: 23px;
}
.foot-txt{
    margin-top: 15px;
    margin-left: 630px;
    color: #ffffff;
    font-family: "Open sans";
    font-size: 12px;
    font-weight: 400;
}